@model IEnumerable<TS.Web.Models.TopicViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Topics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th  class="">
            <h4>
                Topic Name
            </h4>            
        </th>
        <th  class="">
            <h4>
                Subject Name
            </h4>
        </th>
        <th class=""> <h4> Choose </h4> </th>
    </tr>
    @if (Model!=null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            <label>@Html.DisplayFor(modelItem => item.Name)</label>
        </td>
        <td>
            <label>@Html.DisplayFor(modelItem => item.SubjectName)</label>
        </td>
        <td>
            <label>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
             </label>
        </td>
    </tr>
        }
    }

</table>
