@model IEnumerable<TS.Web.Models.QuestionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option4)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplexityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReady)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.Raw(item.Text)
            </td>
            <td>
                @Html.Raw(item.Option1)
            </td>
            <td>
                @Html.Raw(item.Option2)
            </td>
            <td>
                @Html.Raw(item.Option3)
            </td>
            <td>
                @Html.Raw(item.Option4)
            </td>
            <td>
                @Html.Raw(item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplexityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReady)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
